Coin Flip.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":"3","startTime":"2025-09-29T07:00:00.000Z"},"evaluatedRecurrence":{"frequency":"Hour","interval":"3","startTime":"2025-09-29T07:00:00.000Z"},"type":"Recurrence"}},"actions":{"Compose_-_ParityEven":{"runAfter":{},"type":"Compose","inputs":"@equals(\r\n  mod(\r\n    indexOf('0123456789abcdef', substring(toLower(guid()), 35, 1)\r\n  ),\r\n  2),\r\n  0\r\n)\r\n"},"Delay_-_random_seconds":{"runAfter":{"Compose_-_ParityEven":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":"@rand(5,30)\r\n\n","unit":"Second"}}},"Condition":{"actions":{"Terminate_-_Failed":{"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"TEST_FAIL","message":"Intentional test failure for PPAC Monitor Alerts"}}}},"runAfter":{"Delay_-_random_seconds":["Succeeded"]},"else":{"actions":{"Terminate_-_Succeeded":{"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"equals":["@outputs('Compose_-_ParityEven')","@true"]}]},"type":"If"}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}},"retryPolicy":{"type":"Exponential","interval":"PT7S","count":8,"minimumInterval":"PT5S","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-7B48B62DCBD541BDBA512F2A031D340F"}},"integrationAccount":{"name":"ac102d51abcb46c3a7975f8a9d91a813-westeurope","id":"subscriptions/ac07fa44-4742-482d-aa28-c00945932935/resourceGroups/ac102d51abcb46c3a7975f8a9d91a813-ia/providers/Microsoft.Logic/integrationAccounts/ac102d51abcb46c3a7975f8a9d91a813-westeurope","type":"Microsoft.Logic/integrationAccounts"}}}]}